@media {
    img {
        width: 100%;
    }

    #topper {
        background-image: url(cover.jpeg);
        background-size: cover;
        background-position: center;
        background-color: #f2e3ca;
    }

    .byline {
        padding: 10px 10px 0px 150px;
        font-family: Libre Baskerville;
        font-size:20px;
    }

    .byline2 {
        padding: 10px 10px 630px 150px;
        font-family: Libre Baskerville;
        font-size: 20px;
    }

    .caption {
        font-size: 13px;
        text-align: center;
        font-family: Libre Baskerville;
        color:#669b9e;
    }

    body {
        background-color: #f2e3ca;
    }

    h1 {
        padding: 60px 10px 10px 10px;
        font-family:
            League Gothic,
            sans-serif;
        font-style: italic;
        font-size: 60px;
        text-align: center;
    }

    .container-fluid {
        background-color: #f2e3ca;
        font-family: Libre Baskerville;
    }

    h2 {
        font-family: League Gothic;
        font-size: 45px;
    }

    .league-gothic {
        font-family: "League Gothic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "width" 100;
    }

    .pullquote {
        padding: 10px 20px 10px 20px;
        background-color: #e9c9bc;
        font-size: 25px;
    }
    
    .quotemark {
    font-size: 130px;
    font-family: Georgia, serif;
    line-height: 0px;
    float: left;
    margin: 60px 20px 0px 0px;
}
    
    .attribution {
        text-align: right;
        font-style: bold;
    }
}

@media (min-width: 576px) {
    #content {
        width: 100%;
    }
}

@media (min-width: 992px) {
    #content {
        width: 60%;
    }
}
