/*
MY COLOR PALETTE
Rust - #A5421A
Navy Bkgd - #222230
Text Beige - #D8CABE
Color 4 - #ede7e3
Color 5 - #E7A04D
*/

@media {
    img {
        width: 100%;
        border-radius: 50%;
        padding: 40px;
    }

    h1 {
        margin: 15% 0px 10px 0px;
        font-size: 70px;
        color: #d8cabe;
        font-family: "League Spartan", sans-serif;
        text-align: center;
    }
    h2 {
        font-family: "Libre Baskerville", serif;
        color: #d8cabe;
        font-style: italic;
        text-align: center;
    }

    h3 {
        font-family: "League Spartan", sans-serif;
        color: #d8cabe;
        font-size: 40px;
        text-decoration: underline;
        text-decoration-color: #a5421a;
    }
    #topper {
        background-color: #222230;
        text-align: center;
    }

    .item {
        width: 10em;
    }
    #nav {
        background-color: #a5421a;
        text-align: center;
        padding: 25px 0px 25px 0px;
    }
    #nav a {
        color: #d8cabe;
        text-decoration: none;
        font-family: "Montserrat", serif;
        font-size: 25px;
    }
    #nav a:hover {
        color: #d8cabe;
        text-decoration: underline;
        font-family: "Montserrat", serif;
    }
    .jobtitle {
        color: #e7a04d;
        font-family: "Libre Baskerville", serif;
    }

    p {
        color: #d8cabe;
        font-family: "Montserrat", sans-serif;
    }
    #sections {
        background-color: #222230;
        padding: 0px 20px 0px 20px;
    }

    button {
        background-color: #a5421a;
        color: #d8cabe;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        font-family: "Playfair Display", serif;
        font-weight: 500;
        border-radius: 12px;
        border: none;
        align-items: center;
    }

    button:hover {
        background-color: #e7a04d;
        text-decoration: underline;
        color: #222230;
    }

    ul {
        font-family: "Montserrat", sans-serif;
    }
}

@media (min-width: 576px) {
    h1 {
        margin: 15% 0px 10px 40px;
        font-size: 70px;
    }
}
